@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <label id="upload" class="btn btn-success btn-file">
                Upload<input id="imageFile" type="file" style="display: none;">
            </label>
            <button id="process" type="button" class="btn btn-success">Switch</button>
        </div>
    </div>
</div>
<div class="row">
    <img id="uploadedImage" class="img-responsive img-thumbnail img-panel center-block" />
</div>